################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Eformerapp/.vs/Eformerapp/FileContentIndex/653e719c-6d68-4489-a4b4-5e3ae6307eec.vsidx
